.featured-badge {
    color: #e85f5c
}

.post-meta {
    color: #2d728f ;
    margin-bottom: 1.5em ;
    text-transform: uppercase
}

.dashboard {
    margin-top: 2.5em;
}

.read-more {
    margin-top: 2.5em
}